<h1>Привет, {{name}}!</h1>
{{#each address}}
<div>Ваш адрес: {{'Addresses.street'}} улица, дом: {{'Addresses.house'}}</div>
{{/each}}
<h1>На данной карте отмеченны все стадионы, где можно арендовать поляну! А также Ваш домашний адрес.</h1>


<div id="map" style="width: 100%; height: 700px"></div>
<button id="destroyButton">Удалить карту</button>
<script src="/map/innerMap.js"></script>
<script src="/map/points.js"></script>



