<link rel="stylesheet" href="/styles/home.css">

{{!-- <div class="intro"> --}}
<h1>Добрый день!</h1>
<h3>
Этот сайт создан для удобного поиска стадиона для аренды игры в футбол.
Чтобы воспользоваться сервисом поиска, необходимо <a href="http://localhost:3000/register">зарегистрироваться.</a> 
У тебя уже есть акккаунт? Замечательно! Тогда <a href="http://localhost:3000/login">авторизируйся</a> и приступи к поиску.
</h3>
{{!-- </div> --}}
