<script defer src="/scripts/login.js"></script>
<link rel="stylesheet" href="/styles/register.css">
<form name="logForm" class="form">
  <input type="email" name="email" class="input" id="email" placeholder="Ваш Email">
  <input type="password" name="password" class="input" id="pass" placeholder="Придумайте пароль">
  <button type="submit" class="btn">Войти</button>
</form>
