<script defer src="/scripts/register.js"></script>
<link rel="stylesheet" href="/styles/register.css">
<form name="formReg" class="form">
  <input type="text" name="name" placeholder="Ваше Имя">
  <input type="email" name="email" placeholder="Ваш Email">
  <input type="password" name="pass" placeholder="Придумайте пароль">
  <input type="text" name="street" placeholder="Улица">
  <input type="text" name="house" placeholder="Дом">
  <button type="submit" class="btn">Регистрация</button>
</form>
